
.everything{
	font-family: 'Oswald', sans-serif;
}

#headtitle{
	font-size: 10px;
	background-color: #ff9900;
	border-bottom: 3px solid black;
	border-top: 1px solid black;
	letter-spacing: 25px;
	font-weight: 900;
}

#main-navigation li {
	border: 2px solid black;
	background-color: #3333CC;
	display: inline;
	color: black;
	margin: auto;
	padding: 2px;
}

#main-navigation a {
	color; black;
}
	

#page-title {
	font-size: 10px;
	background-color: #ff9900;
	border: 3px solid black;
}

.body {
	width: 1000px;
	margin: auto;
	background-color: #A0E8E8;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.changeable {
	background-color: white;
	
}

.mainlogotitle {
	display:inline;
}

.introduction {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#logo img {
	border: 2px solid black;
    position: absolute;
    top: 8px;
    left: 250px;
}

.page-bottom {
	border-top: 3px solid black;
	border-bottom: 1px solid black;
	color:black;
	background-color:#ff9900;
	
}

.everything {
	border: 3px solid black;
}

.box {
	width: 300px;
	height: 200px;
	border: 3px solid black;
}

.bottom-buttons li {
	display: inline;
	font-size: 20px;
	padding: 8px;
	border: 3px solid black;
	background-color: #3333CC;
	margin: auto;
}
